<% var socialItems = [
  {iconURL: './assets/images/social/fb.svg'},
  {iconURL: './assets/images/social/flickr-logo-of-two-dots.svg'},
  {iconURL: './assets/images/social/google-plus.svg'},
  {iconURL: './assets/images/social/twitter-logo-silhouette.svg'}
]; %>
  
<footer class="footer">
    <div class="container">
        <div class="col-lg-4 footer-logo">
            <div class="logo-img">
                <img src="../assets/images/footerlogo.png" class="img-fluid">
            </div>
        </div>
        <div class="mb-4">
            <div class="col-lg-6 col-md-3 m-auto contact">
                <button class="contact-btn">Contact Us</button>
            </div>
        </div>
    </div>
</footer>
<div class="row d-flex justify-content-center mb-4">
        <div class="col-lg-8 col-sm-12  ">
            <div class="footer-social">
                <% for(var i = 0; i < socialItems.length; i++) { %>
                    <div>
                        <img src="<%= socialItems[i].iconURL %>">
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
