<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-4 footer-logo">
				<div class="logo-img"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 contact">
				<div class="contact-btn">
					<span>Contact Us</span>
				</div>
			</div>
		</div>
	</div>
</footer>