<footer class="footer">
    <div class="container">
        <div class="col-lg-4 footer-logo">
            <div class="logo-img">
                <img src="../assets/images/footerlogo.png" class="img-fluid">
            </div>
        </div>
        <div class="mb-4">
            <div class="col-lg-6 col-md-3 m-auto contact">
                <button class="contact-btn">Contact Us</button>
            </div>
        </div>
    </div>
</footer>
