<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="text-center">Copyright © 2018 Mobile Open Platform Conference.
					<a href="code-of-conduct.html">行為準則 Code of Conduct</a>
				</p>
				
			</div>
		</div>
	</div>
</footer>
<script>
	
	$(function(){
		if(window.location.search == '?lang=zh') {

		}
		else if(window.location.search == '?lang=en') {
			console.log("English Ver.");
			$('.coming-soon .sub-title').text('The biggest mobile technology in southern Taiwan')
			$('#cfp').text('Call for Presentation');
			$('#cfr').text('Call for Recommendation');
			$('#cfs').text('Call for Sponsor');
		}	
	})
</script>