<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-12 logo">
				<img src="Content/images/logo@2x.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-4 time">
				<div class="col-4 time-circle">
					<span>Day</span>
					<div class="circle">
						33
					</div>
				</div>
				<div class="col-4 time-circle">
					<span>Hour</span>
					<div class="circle">
						12
					</div>
				</div>
				<div class="col-4 time-circle">
					<span>Minutes</span>
					<div class="circle">
						45
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 buy-ticket">
				<div class="btn ticket-btn">
					<button>馬上去搶票</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1 arrow">
				<div>
					<p>箭頭</p>
				</div>
			</div>
		</div>
	</div>
</header>
