	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<% css.forEach(cssItem => { %>
	<link rel="stylesheet" type="text/css" href="/Content/css/<%= cssItem %>">
	<% }); %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<% js.forEach(jsItem => { %>
	<script type="text/javascript" src="/Content/js/<%= jsItem %>"></script>
	<% }); %>