<header class="header">
    <div class="row justify-content-center particles">
        <div class="owl-carousel banner-carousel col-8">
            <div class="item banner-info">
                <img id="logo" src="assets/images/logo@2x.png"/>
                <h2 class="banner-text">
                    11/3-4
                    <br/>
                    高雄國際會議中心
                </h2>
            </div>
            <div class="item banner-info">
                <img id="logo" src="assets/images/logo@2x.png"/>
                <h2 class="banner-text">
                    11/3-4
                    <br/>
                    高雄國際會議中心
                </h2>
            </div>
            <div class="item banner-info">
                <img id="logo" src="assets/images/logo@2x.png"/>
                <h2 class="banner-text">
                    11/3-4
                    <br/>
                    高雄國際會議中心
                </h2>
            </div>
        </div>
        <div id="particlesLeft" class="left"></div>
        <div id="particlesRight" class="right"></div>
    </div>

    <div class="row mt-4">
            <div class="col-md-4 offset-md-4 d-flex justify-content-center">
                <div style="width:400px;height:150px;" class="example" data-date="2018-11-01 00:00"></div>
            </div>
    </div>
       
    <div class="row">
        <div class="btn col-md-4 col-lg-2 m-auto">
            <button class="ticket-btn">馬上去搶票</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-sm-3 arrow mb-lg-5">
            
                <a href="#arrow-go" class="arrow-go"><i class="fas fa-angle-down"></i></a>
            
        </div>
    </div>


</header>
