    .paper {
        border: 3px solid $c-light-blue;
        padding: 2.5em 3em;
    }
    .paper-title {
        .main-title {
            color: $c-light-blue;
            margin: 0.8em 0 0.7em;
        }
    }
    .paper-content {
        color: $white;
    }

    @media (max-width: 640px) {
        .paper {
            padding: 10px;
        }
    }