// contents

.content-title {
  color: $c-white;
  text-align: center;
  margin-bottom: 1rem;
}

.home-speaker-info {
  h2 {
    color: $c-white;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
  }
}

.home-speaker-img {
  border-radius: 99em;
}

.speaker-carousel {
  margin-bottom: 3rem;
}

.sponsor-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > div {
    width: 130px;
  }
  .img {
    background-color: $c-white;
    width: 130px;
    height: 130px;
    border-radius: .75rem
  }
}

.carousel-indicators > li {
  width: .75rem;
  height: .75rem;
  border-radius: 99em;
}

.speaker-carousel .owl-dots {
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  display: inline-flex;
  zoom: 1;
}

.owl-dots .owl-dot {
  outline:none;
  span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border: 2px solid $c-white;
    border-radius: 30px;
  }
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: $c-white;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .sponsor-info-container {
    margin: 12px 12px;
  }

  .home-speaker-info {
    h2 {
      font-size: 1.25rem;
    }
  }

  .content-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .sponsor-info-container {
    margin: 12px 12px;
  }

  .home-speaker-info {
    h2 {
      font-size: 1.5rem;
    }
  }

  .content-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .sponsor-info-container {
    margin: 24px 48px;
  }

  .home-speaker-info {
    h2 {
      font-size: 1rem;
    }
  }

  .content-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 993px) {
  .sponsor-info-container {
    margin: 24px 48px;
  }

  .home-speaker-info {
    h2 {
      font-size: 1rem;
    }
  }

  .content-title {
    font-size: 2.5rem;
  }
}
