// header

.particles {
  .left, .right {
    width: 20vw;
    height: 50%;
    position: absolute;
  }
  .left {
    left: 0;
    &:nth-child(2) {
      bottom: 0;
    }
  }
  .right {
    right: 0;
    &:nth-child(4) {
      bottom: 0;
    }
  }
  //@media screen and (min-width: 769px) {
  //  min-height: 560px;
  //}
}

.buy-ticket {
  display: flex;
  margin: 28px auto;
}

.ticket-btn {
  width: 96px;
  button {
    border: 2px solid $c-light-blue;
    border-radius: 2px;
    width: 100%;
    height: 36px;
    background-color: $c-light-blue;
    color: $c-white;
    font-size: 0.9rem;
  }
}

.arrow {
  width: 96px;
}

.fa-angle-down {
  font-size: 50px;
}

.banner-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-carousel .owl-dots {
  justify-content: center;
  width: 100%;
  display: inline-flex;
  zoom: 1;
  margin-bottom: 3rem;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  #logo {
    width: 70vw;
  }
  .left, .right {
   display: none;
  }
  .banner-text {
    @include font-custom($c-white, 1.25rem, center);
    position: absolute;
    bottom: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #logo {
    width: 60vw;
  }
  .left, .right {
    display: none;
  }
  .banner-text {
    @include font-custom($c-white, 1.5rem, center);
    position: absolute;
    bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #logo {
    width: 50vw;
  }
  .banner-text {
    @include font-custom($c-white, 1.5rem, center);
    position: absolute;
    bottom: 3rem;
  }
}

@media screen and (min-width: 993px) {
  #logo {
    width: 34vw;
  }
  .banner-text {
    @include font-custom($c-white, 1.75rem, center);
    position: absolute;
    bottom: 4rem;
  }
}

//.sub-title {
//  color: #fff;
//  font-family: 'Rajdhani';
//  font-size: 29px;
//  @media screen and (max-width: 640px){
//    font-size: 16px;
//  }
//}