// header
.particles{
  position: relative;
  height: 70vh;
  .left,.right{
    width: 20vw;
    height: 80vh;
    position: absolute
  }
  .left{
    left:0;
  }
  .right{
    right:0;
  }
}
.carousel.banner{
  position: absolute;
} 
.logo{
  width: 40%;
  height: 40%;
}
.time {
  display: flex;
  margin: 20px auto ;
}

.time-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 12px;
    color: $c-white;
    margin-bottom: 0.5rem;
  }
}

.circle {
  border: 2px solid $c-white;
  border-radius: 100%;
  height: 64px;
  width: 64px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-white;
}

.buy-ticket {
  display: flex;
  margin: 28px auto;
}

.ticket-btn {
  border: 2px solid $c-light-blue;
  border-radius: 2px;
  width: 96px;
  height: 36px;
  background-color: $c-light-blue;
  color: $c-white;
  font-size: 0.9rem;
}

.arrow {
  margin: 5px auto;
  text-align: center;
}
.fa-angle-down{
  font-size: 50px;
  color:$c-white;
}

@media screen and (max-width: 320px){
   
  .logo{
    width: 80vw;
    height: 80vw;
  }
  .carousel-indicators{
    bottom:-60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px){
   
  .logo{
    width: 80vw;
  }
  .carousel-indicators{
    bottom:-60px;
  }
  .carousel.banner{
    width: 100vw;
  }
}

@media screen and (max-width: 414px){
   
  .particles{
    height: 50vh;
  }
}

@media screen and (min-width: 414px) and (max-width: 768px){
   
  .logo{
    width: 70vw;
    height: 70vw;
  }
  .carousel-inner{
    width: 100vw;
  }
  .carousel-indicators{
    bottom:-60px;
  }
}