<!DOCTYPE html>
<html lang=zh-tw>

<head>
  <%- include ../_partials/HEAD %>
</head>

<body>
<nav class="navbar navbar-expand-lg stand-logo">
  <a class="navbar-brand" href="./../index.html">
    <img src="Content/images/white-logo.png" alt="" srcset="">
  </a>
</nav>

    <%- contents %>

      <%- include ../_partials/footer %>
</body>

</html>