<!DOCTYPE html>
<html lang=zh-tw>
<head>
	<%- include ../_partials/HEAD %>
</head>
<body>
	<%#- include ../_partials/nav %>
	<div class="wrapper">
		<%- include ../_partials/header %>

		<%- contents %>
		
		<%- include ../_partials/footer %>
	</div>
</body>
</html>