// footer

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}

.logo-img {
  width: 298px;
  height: 78px;
  background-color: $c-white;
}

.contact {
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact-btn {
  width: 128px;
  height: 48px;
  border: 2px solid $c-light-blue;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $c-white;
}