<div class="row">
    <div class="offset-md-3 col-md-6 col-12">
        <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9tBvxaCPw2U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
