body {
	font-family: "Microsoft JhengHei", Arial, Geneva, sans-serif;
	font-size: 16px !important;
	color: #666464;
	background: #010135;
}

.custom-list {
	list-style: none;
	padding: 0;
}

.wrapper {
	// height: 100vh;
	// padding: 3rem 2rem 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-image: url('../images/bg-down-right.png'), url('../images/bg-downleft.png'), url('../images/bg-upleft.png'), url('../images/bg-upright.png');
	background-size: 50%, 10%, 15%, 15%;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: right -200px bottom -30px, left bottom, left top, right top
}

.coming-soon {
	height: 100%; // display: flex;
	font-family: 'PingFangTC', 'Microsoft JhengHei', 'sans-serif'; // .logo {
	// 	width: 50vw;
	// }
	// .mobile-logo {
	// 	display: none;
	// }
	// .info {
	// 	width: 50vw;
	// }
	.title {
		margin-top: 0;
		margin-bottom: 15%;
	}
	.main-title {
		color: #00d0ca;
		font-family: 'Rajdhani', sans-serif;
		font-size: 4rem;
		padding-left: 2rem;
		margin-top: 1rem;
		margin-bottom: -25px;
	}
	.sub-title {
		height: 4rem;
		background-image: url('../images/bg-comingsoon.png');
		background-size: contain;
		background-repeat: no-repeat;
		color: #ffffff;
		font-size: 2rem;
		padding-left: 2rem;
		padding-top: 1rem;
	}
	.content ul {
		width: 100%;
	}
	.content li {
		color: #00d0ca;
		font-size: 2rem;
		font-weight: 300;
		margin: 1rem;
		padding-left: 2rem;
	}
	.content li:first-child {
		text-align: left;
		font-family: 'Rajdhani';
	}
	.content li:before {
		content: 'â—';
		margin-right: 15px;
		font-size: 1rem;
	}
	@media (max-width: 1140px) {
		.main-title {
			font-size: 3rem;
			margin-bottom: -20px;
		}
		.sub-title {
			padding-top: 0.75rem;
			font-size: 1.5rem;
		}
	}
	@media (min-width: 768px) {
		.info {
			background-image: url(../images/info-bg.png);
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: left bottom;
		}
	}
	@media (max-width: 768px) {
		.main-title {
			font-size: 2.5rem;
			margin-bottom: -17px;
		}
		.sub-title {
			padding-top: 0.5rem;
			font-size: 1rem;
		}
		.content li {
			font-size: 1rem;
		}
		.btn-toolbar {
			display: initial;
		}
		.btn {
			display: block;
		}
	}
	@media (max-width: 640px) {
		// .wrapper {
		// 	padding: 0;
		// }
		.coming-soon {
			flex-direction: column;
			align-items: center; // height: 100vh;
		} // .info {
		// 	 height: 100%;
		// 	 width: 80vw;
		// }
		// .logo {
		// 	display: none;
		// }
		// .mobile-logo {
		// 	display: block;
		// }
		.title {
			margin-bottom: 0;
		}
		.main-title {
			font-size: 2rem;
			margin-bottom: -15px;
		}
		.sub-title {
			font-size: 0.75rem;
			padding-left: 1rem;
			padding-top: 0.5rem;
		}
		.logo {
			margin-top: 8rem;
		}
		.content {
			// height: 50%;
			// display: flex;
			justify-content: center; // background-size: 80%;
		}
		.content li {
			font-size: 1.2rem;
			list-style: inside;
			padding-left: 0;
		}
		.content li:before {
			content: ' ';
			margin-right: 0px;
		}
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home-speaker-info {
	h2 {
	  color: $c-white;
	  text-align: center;
	  word-wrap: break-word;
	  white-space: normal;
	}
  }
  
  .home-speaker-img {
	border-radius: 99em;
  }
  
  .speaker-carousel {
	margin-bottom: 3rem;
  }
  
  .sponsor-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	> div {
	  width: 130px;
	}
	.img {
	  background-color: $c-white;
	  width: 130px;
	  height: 130px;
	  border-radius: .75rem
	}
  }
  
  .carousel-indicators > li {
	width: .75rem;
	height: .75rem;
	border-radius: 99em;
  }
  
  .speaker-carousel .owl-dots {
	justify-content: center;
	width: 100%;
	margin-top: 3rem;
	display: inline-flex;
	zoom: 1;
  }
  
  .owl-dots .owl-dot {
	outline:none;
	span {
	  width: 10px;
	  height: 10px;
	  margin: 5px 7px;
	  background: none;
	  display: block;
	  -webkit-backface-visibility: visible;
	  transition: opacity .2s ease;
	  border: 2px solid $c-white;
	  border-radius: 30px;
	}
  }
  
  .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
	background: $c-white;
  }
  
  @media screen and (min-width: 320px) and (max-width: 575px) {
	.sponsor-info-container {
	  margin: 12px 12px;
	}
  
	.home-speaker-info {
	  h2 {
		font-size: 1.25rem;
	  }
	}
	
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
	.sponsor-info-container {
	  margin: 12px 12px;
	}
  
	.home-speaker-info {
	  h2 {
		font-size: 1.5rem;
	  }
	}
	
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
	.sponsor-info-container {
	  margin: 24px 48px;
	}
  
	.home-speaker-info {
	  h2 {
		font-size: 1rem;
	  }
	}
  
	.content-title {
	  font-size: 2.5rem;
	}
  }
  
  @media screen and (min-width: 993px) {
	.sponsor-info-container {
	  margin: 24px 48px;
	}
  
	.home-speaker-info {
	  h2 {
		font-size: 1rem;
	  }
	}
  
  }
  