.stand-logo{
  position: absolute;
}
.stand{
  .banner{
    background-image: url('../images/stand/visaul@3x.jpg');
    background-size: cover;
    background-position-y:60%;
    height:500px;
    width: 100vw;
  }
  .play-game{
    background-image: url('../images/stand/')
  }
}