.ticket-item {
    border-radius: 10px;
    // @media (min-width: 769px) {
    //     height: 140px;
    // }
    &.type1 {
        .ticket-type {
            background-color: $c-light-blue;
            font-size: 23px;
        }
    }
    &.type2 {
        .ticket-type {
            background-color: #25817f;
            font-size: 23px;
        }
        .ticket-ribbon {
            color: #b3581b;
            background: linear-gradient(to right, #ffdc00, #e4b506, #e4b506);
            text-shadow: 1.1px 1.7px 1px #fde262;
        }
    }
    &.type3 {
        @media (min-width: 769px) {
            height: initial;
        }
        .ticket-type {
            background-color: #0b525f;
            font-size: 23px;
            // @media (min-width: 769px) {
            //     line-height: 185px;
            // }
        }
        .ticket-ribbon {
            color: #420112;
            background: linear-gradient(to right, #f31b2a, #f00d13, #9f0000);
            text-shadow: 1.1px 1.7px 1px #ff4242;
        }
    }
}

.ticket-type {
    z-index: 2;
    width: 100%;
    @media (min-width: 769px) {
        width: 140px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    position: relative;
    font-family: PingFangTC;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    .name {
        color: #fff;
        width: 100%;
        padding: 5px;
    }
    @media (min-width: 769px) {
    .name {
   
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center; 
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    }}
  
}

.robbon-wrap {
    width: 100px;
    height: 82px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
}

.ticket-ribbon {
    position: relative;
    right: -20px;
    top: 8px;
    width: 96px;
    height: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    line-height: 22px;
    text-align: center;
    transform: rotate(37deg);
    font-size: 15px;
    font-weight: 600;
}

.ticket-content {
    color: #000033;
    position: relative;
    width: 100%;
    @media (min-width: 769px) {
        width: -webkit-calc(100% - 140px);
        width: calc(100% - 140px);
        padding: 25px 235px 25px 40px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    background-color:#fff;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    h4 {
        font-size: 23px;
        font-family: PingFangHK;
        font-weight: 500;
    }
    p {
        font-family: PingFangTC;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        span {
            font-weight: initial;
        }
    }
}

.ticket-tool {
    @media (min-width: 769px) {
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
    text-align: center;
    p {
        display: none;
    }
    
}

.btn-ticket {
    position: relative;
    color: #000000;
    padding: 10px 20px;
    line-height: 1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background: $c-light-blue;
    border: $c-light-blue;
    overflow: hidden;
    &::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient( 60deg, transparent 45px, rgba(256, 256, 256, 0.3) 45px, rgba(256, 256, 256, 0.3) 60px, transparent 60px, transparent 100%);
    }
}

.btn-ticket:hover {
    background: $c-light-blue;
}