---
title: Album
layout: ./source/_layouts/layout.ejs
css: ['all.css', 'owl.carousel.min.css']
js: ['bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]

engine: ejs
---
<div class="container-fuild">
          
        <h2 class="text-white">MOPCON 2018</h2>
        <div class="row album mb-5">
            <div class="col-md-2 position-relative">
                <a class="box" href="">
                    <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                    <div class="topic">
                        主場
                    </div>  
                </a>
               
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                DAY1
                            </div>  
                        </a>
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                DAY2
                            </div>  
                        </a>
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                暖身場
                            </div>  
                        </a>
            </div>
        </div>
        <h2 class="text-white">MOPCON 2017</h2>
        <div class="row album mb-5">
            <div class="col-md-2 position-relative">
                <a class="box" href="">
                    <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                    <div class="topic">
                        主場
                    </div>  
                </a>
               
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                DAY1
                            </div>  
                        </a>
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                DAY2
                            </div>  
                        </a>
            </div>
            <div class="col-md-2 position-relative">
                    <a class="box" href="">
                            <img class="img-responsive" src="/assets/images/album/2018_warmup.jpg" alt="">
                            <div class="topic">
                                暖身場
                            </div>  
                        </a>
            </div>
        </div>
    </div>
    
    </div>