---
title: index
layout: ./source/_layouts/layout.ejs
description: MOPCON footer
css: ['all.css', 'owl.carousel.min.css']
js: ['bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]

engine: ejs
---

    <div class="row mb-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary btn-lg">贊助我們</button>
        </div>
    </div>
    <%- include ./_section/video_section %>

    <%#- include ./_section/speaker_section %>

    <%#- include ./_section/sponser_section %>

   
