---
title: Code Of Conduct - Mopcon 知識王PK戰
layout: ./source/_layouts/activity_score.ejs
css: ['all.css']
js: ['schedule.js','bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]
engine: ejs
---

<div class="score">
    <div class="d-flex justify-content-between">
        <div class="score-banner-left"></div>
        <div class="d-block">
            <div class="show-text mb-md-5 d-flex justify-content-center">你是</div>
            <div class="show-lv-text mb-md-5 d-flex justify-content-center">小萌新!</div>
            <div class="show-lv-img mb-md-5"></div>
            <div class="show-ability-img mb-md-5"></div>
            <div class="show-comment-img mb-lg-5">
                    風中嫩草, IT 界新手專區<br/>
                    Oh～萌萌是我的權利, 關於這些題目在問什麼？倫家真的不知道嘛                    
            </div>
            <div class="d-flex justify-content-center">
                <div class="share-social mb-5"></div>
            </div>
        </div>
        <div class="score-banner-right"></div>
    </div>
</div>
