---
title: Code Of Conduct
layout: ./source/_layouts/pageLayout.ejs
css: ['all.css']
js: ['bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]
engine: ejs
---
<div class="d-flex flex-column align-items-center">
    <h2 class="page-title mt-5 mb-5">SPEAKER</h2>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-around">
        <div class="speaker-info d-flex align-items-center flex-column">
          <img class="my-3" src="./assets/images/speakers/akanelee.jpg" alt="" srcset="">
          <h5>Akane Lee</h5>
          <span>嫁給RD的UI</span>
          <button class="speaker-btn mt-4 mb-3" data-toggle="modal" data-target="#speakerModal">詳細介紹</button>
        </div>

      </div>
      <div class="modal fade"  id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel" aria-hidden="true">
        <div class="modal-dialog speaker-modal" role="document">
          <div class="modal-content">
            <button type="button" class="speaker-close close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
              <div class="d-flex flex-column align-items-center">
                <div class="d-flex justify-content-around speaker-modal-info">
                  <img class="my-3" src="./assets/images/speakers/akanelee.jpg" alt="" srcset="">
                  <div class="d-flex flex-column mt-5">
                    <h5>Akane Lee</h5>
                    <span>Google Cloud 台灣區經理</span>
                  </div>
                </div>
                <div class="speaker-eng-detail mx-5 mt-3 mb-5">
                   Innovate with New Technologies on Google Cloud
                </div>
                <div class="speaker-zh-detail mx-5">
                  現職 Google Cloud 台灣區經理。 2012 年開始接觸雲端服務，有幸見證科技發展上的重 要轉變，隨著許多企業開始利用雲端服務，加速創新， 擴充商業版圖到全球各地。喜歡技術快速迭代與進步， 也喜歡藝術帶來的感動，最喜歡的 APP
                  是 Spotify。
                </div>
                <div class="speaker-modal-btn mt-5 mb-3">
                  <button>共筆</button>
                  <button>Slide</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include ./_partials/footer %>