---
title: Code Of Conduct - Mopcon 知識王PK戰 
layout: ./source/_layouts/activity.ejs
css: ['all.css']
js: ['schedule.js','bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]
engine: ejs
---

<div class="stand d-flex flex-column align-items-center">
  
  <!-- <div class="stand-banner"></div> -->
  <!-- <div class="stand-button m-5">
    <div class="play-game mb-5"></div>
    <div class="enter-score"></div>
    <div class="bg-left"></div>
    <div class="bg-right"></div>
  </div>
  <div class="info"></div> -->
</div>

<%#- include ./_partials/footer %>