---
title: Code Of Conduct - Mopcon 知識王PK戰 
layout: ./source/_layouts/activity.ejs
css: ['all.css']
js: ['schedule.js','bootstrap/bootstrap.js',plugin/jquery.scrollify.js,plugin/particles.min.js,plugin/stats.js,plugin/owl.carousel.min.js]
engine: ejs
---

<div class="stand d-flex flex-column align-items-center">
  
  <div class="banner"></div>
  <div class="stand-button">
    <div class="play-game"></div>
    <div class="get-score"></div>
  </div>
</div>

<%#- include ./_partials/footer %>